
body{
	width: 976px;
	min-height:873px;
	margin-left:auto;
	margin-right:auto;
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
/*Accordion Menu*/
	.accordion h3{ 
		color:black;
	}

/*Panoramic Viewer*/
	.panorama{
		background-image: url("./Graphics/panorama.jpg");
		width: 500px;
		height: 401px;
		background-position: 0px 50%;
	}
	.panButton{
		position: relative;
		height: 35px;
		width: 100%;
		padding-top: 65px;
		display: inline-block;
	}
	.panorama .panleft{
		float:left;
	}
	.panorama .panstop{
		position: relative;
		left: 43%;
	}
	.panorama .panright{
		float:right;
	}


	.panorama .panleft:before{
		content: "<<";
	}
	.panorama .panstop:before{
		content: "||";
	}
	.panorama .panright:before{
		content: ">>";
	}

/*Tabs Styles*/
	/*Side Tabs*/
		.tabs div{float:left; width:475px; position: relative; margin-right:7px; margin-bottom:20px; min-height: 428px; background-image:url(/graphics/VTbg.jpg); background-color:#CCC; padding: 5px; border: 2px solid red;}
		.tabs div p{margin-left: 15px;}
		.tabs div a{display: block; margin-bottom: 10px;}

		.tabs h1{
			color:black;
		}
		.tabs h2{
			color:black;
		}
		.tabs h3{
			color:black;
		}
		.tabs h4{
			color:black;
		}
		.tabs a:link {
    		color: #000;
		}
		/* visited link */
		.tabs a:visited {
		    color: #000;
		}
		/* selected link */
		.tabs a:active {
		    color: #000;
		}

		.tabs ul{position:relative; float:left;}
		.tabs li a{width: 200px; text-align:left;}
		.tabs li.activeTab{ position:relative; border-left: 5px solid red; border-right: 2px solid #CCC; border-top: 2px solid red; border-bottom: 2px solid red; background-color: #CCC;  z-index: 9999; width: 133px;}
		.tabs li{ list-style-type: none; display:block; padding:5px; border-bottom: 1px inset; min-height:30px;  width: 140px; font-size:14px;}
		.tabs li:hover{background-color: #999;}
		.tabs li:hover a{ color:white; text-decoration: none;}		
	/*Top Tabs*/
		.nav_list {
			margin-top: 0px;
			height: 12px;
			width: 100%;
			float: left;
			padding: 0;
			margin: 0;
		}
		.nav_list li {
			width: 74px;
			padding:0px;
			height: 55px;
			float: left;
  			margin: 0 5px 0 0;
			border-left: 1px solid #ccc;
			border-right: 1px solid #ccc;
			border-top: 1px solid #ccc;
			background-color: #ccc;
			background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
			border-top-right-radius: .5em;
			border-top-left-radius: .5em;
			display:inline-block;
			list-style-type:none;
			text-align:center;
		}
		.topTabs{
			min-height: 500px;	
			padding: 20px;
		}
		.topTabs li.activeTab{
			background: transparent;
			background-color: #fff;
		}
		.nav_list li a{
			 text-shadow: 1px 1px 0px #fff;
			 text-align:left;
			 color: black;
		}
		.topTabs li:hover{
			background: transparent;
			background-color: #E1E1E1;
		}
		.topTabs li:hover a{  text-decoration: none;}
		
		.topTabs div{
			text-align: left;
			float:left;
			width: 673px;
			border: 1px solid #ccc;
			margin-top:55px;
			margin-bottom: 20px;
		}
		
		.topTabs div h2{ margin-top: 25px;	}



/*Image Slider*/
.slider .play:before{
	content: '>';
}
.slider .stop:before{
	content: '||';
}
.slider .prev:before{
	content: '<<';
}
.slider .next:before{
	content: '>>';
}
/*Styles For Attribution*/
.derry-button-attr{
	position: relative;
	z-index: 1;
	outline: none;
	height:20px;
	border: none;
	font-size: 15px;
	color: rgb(0, 0, 0);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: rgb(155, 205, 255);
}
.derry-p-attr{
	padding: 5px;
	box-shadow: rgb(0, 0, 0) 0px 3px 6px -3px inset;
	margin: 0px;
	font-size: 15px;
	color: rgb(0, 0, 0);
	display: block;
	background: linear-gradient(rgb(64, 150, 238) 0%, rgb(96, 171, 248) 45%, rgb(155, 205, 255) 100%);
}
