body{
	width: 976px;
	min-height:873px;
	margin-left:auto;
	margin-right:auto;
	background-color: beige;
	background-image:url('./Graphics/bg1.jpg');
	background-size: 100% 100%;
}
h1,h2,h3,h4,h5,h6{
	color:white;
}
a:link {
    color: #FFF;
}

/* visited link */
a:visited {
    color: #FFF;
}

/* mouse over link */
a:hover {
   color: #e9dec0;
}

/* selected link */
a:active {
    color: #FFF;
}
#columnbody{
    height: 1%;
    min-height: 450px;
    margin-left: 243px;
    margin-right: 15px;
    display: block;
    /* background-color: #ffffff; */
}
.column.single{
         width:100%;
     }
.mastNavs{
    height: 40px;
    text-align: center;
    vertical-align:top;
    width:100%;
    font-weight: bold;
    display:inline-block;
    text-decoration:none;
    border-bottom:1px solid #303030;
    background: #cf2711;
    background: -moz-linear-gradient(top, #cf2711 0%, #bb230f 57%, #9f1e0d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cf2711), color-stop(57%,#bb230f), color-stop(100%,#9f1e0d));
    background: -webkit-linear-gradient(top, #cf2711 0%,#bb230f 57%,#9f1e0d 100%);
    background: -o-linear-gradient(top, #cf2711 0%,#bb230f 57%,#9f1e0d 100%);
    background: -ms-linear-gradient(top, #cf2711 0%,#bb230f 57%,#9f1e0d 100%);
    background: linear-gradient(to bottom, #cf2711 0%,#bb230f 57%,#9f1e0d 100%);
}
.mastNavs h1{
    margin: 0px 0px 0px 0px;
    display: inline-block;
    font-weight:bold;
    padding: 0px 0px 0px 0px;
    font-size: 14px;
}
.mastNavs h1 a{
    font-family: "ISUSemibold", "Myriad Pro", Helvetica, sans-serif, icomoon;
    letter-spacing: 1px;
    line-height: 120%;
    padding: 10px;
    display: block;
    height: 20px;
    text-decoration: none;
    font-size: 20px;
}
.mastNavs h1 a:hover{
    color:white;
    background-color: darkred;
}
.mainContainer{
    width: 960px;
    margin-right:auto;
    margin-left:auto;
    /*border: 1px solid black;*/
}
.contentContainer{
    margin: 0px 0px 0px 0px;
    /*padding: 10px 5px;
    padding-bottom: 30px;*/
    padding-top:20px;
    min-height: 456px;
    background-repeat: no-repeat;
    background-position: bottom left;
    background-color: #f8f8F8;
    border-bottom: 1px solid #4D4D4D;
    /*border-top: 1px solid #303030;*/
}
.intro{
	font-size:20px;
}
.left{
    float:left;
}
.right{
    float:right;
}

.main-column{
    position: relative;
}
.main-column.left{
    width: 50%;
}
.main-column.right{
    width: 50%;
    float:right;
}
.column-box{
	color:white;
    min-height: 184px;
    padding: 7px;
    margin: 5px;
    background-color: #303030;
    box-shadow: 0px 1px 3px -1px #000;
}
#footer{
    position:relative;
    background: #303030 no-repeat center -325px;
    color: #fafafa;
    clear: left;
    width: 960px;
    height: 155px;
    background-image: url();
    background-position: center center;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid #000;
    text-align: center;
}
.mastHead{
    min-height: 140px;
    /*border: 1px solid black;*/
}